*{
  margin: 0;
  padding: 0;
  font-family: 0;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3{
  background: #00f100
  box-shadow: 2px 0 12px .8px;
  border-radius: 5px;
  padding: .2rem;
}

h3:hover{
  background-image: radial-gradient(#ccc #00f100);
}
