/* :root{} */

*{
  margin: 1rem;
  padding: 0;
  font-family: 0;
  color: #3d3dff;
  transition: all .3s;
  border: solid 1px black;
}

body{
  background: #1f1f1f;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 2rem auto 2rem;
  grid-template-columns: auto;
}

.hide{
  display: none;
}

header{
  background: green;
  /* height: fit-content; */
  padding: .2rem;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

section{
  grid-area: 2 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home{
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
}

.home div{
  width: 49%;
  height: fit-content
}

.project{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: space-between;
}

.about{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
}

.notice{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-betwwen;
  align-items: center;
}

footer{
  background: red;
  grid-area: 3 / 1 / 4 / 2;
  padding: .2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}